<%- include('layout/adminheader.ejs') %>



<!-- jquery -->
<script src="/js/jquery-3.3.1.min.js"></script>


<main class="h-full pb-16 overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
      Category
    </h2>
    <!-- TABLE -->
    <div>
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary float-end"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >Add New Category
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Enter Category
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/admin/category" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="exampleInputEmail1">Category</label>
                  <input
                    type="text"
                    name="category"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder=""
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Discount</label>
                  <input
                    type="text"
                    name="discount"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder=""
                  />
                </div>
                <div>
                  <div class="mb-3 row">
                    <label
                      for="html5-search-input"
                      class="col-md-2 col-form-label"
                      >Image</label
                    >
                    <div class="col-md-10">
                      <input
                        type="file"
                        name="Image"
                        class="form-control"
                        multiple
                      />
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-success">Add</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full overflow-hidden rounded-lg shadow-xs mt-2">
      <div class="w-full overflow-x-auto">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Categories</th>
              <th scope="col">Date</th>
              <th scope="col">Offer</th>
              <th scope="col">Image</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i=0;i<data.length;i++){ %> 
            <tr>
              <th scope="row">1</th>
              <td><%=data[i].category%> </td>
              <td><%=data[i].date%></td>
              <td><%=data[i].discount%>%</td>
              <td>
                <div>
                  <img src="/Images/<%=data[i].image[0].filename%> "width="100" height="150"  alt="">
                </div>
              </td> 
              <td>
                <a href="/admin/editcategory/<%=data[i]._id %> ">
                  <button type="submit" class="btn btn-primary">Edit</button>
                </a>
                
                  <button type="submit" onclick="deleteCategory('<%=data[i]._id %>')" class="btn btn-danger">Delete</button>
                
              </td>
            </tr>
            <% } %> 
          </tbody>
        </table>
      </div>

      <div
        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
      >
        <span class="flex items-center col-span-3"> Showing 21-30 of 100 </span>
        <span class="col-span-2"></span>
        <!-- Pagination -->
        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
          <nav aria-label="Table navigation">
            <ul class="inline-flex items-center">
              <li>
                <button
                  class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                  aria-label="Previous"
                >
                  <svg
                    class="w-4 h-4 fill-current"
                    aria-hidden="true"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </button>
              </li>
              <li>
                <button
                  class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                >
                  1
                </button>
              </li>
              <li>
                <button
                  class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                >
                  2
                </button>
              </li>
              <li>
                <button
                  class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple"
                >
                  3
                </button>
              </li>
              <li>
                <button
                  class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                >
                  4
                </button>
              </li>
              <li>
                <span class="px-3 py-1">...</span>
              </li>
              <li>
                <button
                  class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                >
                  8
                </button>
              </li>
              <li>
                <button
                  class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                >
                  9
                </button>
              </li>
              <li>
                <button
                  class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                  aria-label="Next"
                >
                  <svg
                    class="w-4 h-4 fill-current"
                    aria-hidden="true"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                </button>
              </li>
            </ul>
          </nav>
        </span>
      </div>
    </div>
  
  </div>
  
</main>
<script>
  const deleteCategory=(id)=>{
    Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
   axios.delete('/admin/deletecategory/',{data:{id}}).then((e)=>{
    if(e.data.response)location.href="/admin/category"
    else{
      Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'Product already exist with this category!',
})
    }
   })

  }
})
  }
  
</script>

<%- include('layout/admin-footer.ejs') %>
